<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.artist.ArtistMapper">

	<resultMap type="com.web.root.artist.dto.ArtistDTO" id="artist">
		<id property="artistSeq" column="artist_seq"/>
		<result property="artistName" column="artist_name"/>
		<result property="artistProfile" column="artist_profile"/>
		<result property="artistSns" column="artist_sns"/>
		<result property="artistImage" column="artist_image"/>
		<result property="artistHit" column="artist_hit"/>
	</resultMap>
	
	<resultMap type="com.web.root.bookmark.dto.BookmarkDTO" id="bookmark">
		<id property="markSeq" column="mark_seq"/>
		<result property="memberSeq" column="member_seq"/>
		<result property="artistSeq" column="artist_seq"/>
	</resultMap>
	
	
	<select id="artistAllList" resultMap="artist">
		SELECT * FROM artist ORDER BY artist_seq DESC
	</select>
	
	<select id="artistView" resultMap="artist">
		SELECT * FROM artist WHERE artist_seq=#{artistSeq}
	</select>
	
	<insert id="artistBookmark">
		INSERT INTO bookmark VALUES(mark_seq.NEXTVAL,#{memberSeq},#{artistSeq})
	</insert>
	
	<update id="updateHit">
		UPDATE artist SET artist_hit=artist_hit+1 WHERE artist_seq=#{artistSeq}
	</update>

</mapper>
















