<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.customer.CustomerMapping">
	<resultMap type="com.web.root.customer.dto.PurchaseDTO" id="purchase">
		<id property="purSeq" column="pur_seq"/>
		<result property="memberSeq" column="member_seq" />
		<result property="postSeq" column="post_seq" />
		<result property="purName" column="pur_name" />
		<result property="purPhone" column="pur_phone" />
		<result property="purAddr" column="pur_addr" />
		<result property="purDate" column="pur_date" />
	</resultMap>
	
	<resultMap type="com.web.root.service.dto.ServiceDTO" id="help">
		<id property="helpSeq" column="help_seq" />
		<result property="memberSeq" column="member_seq" />
		<result property="helpTitle" column="help_title" />
		<result property="helpContent" column="help_content" />
		<result property="helpDate" column="help_date" />
	</resultMap>

	<resultMap type="com.web.root.customer.dto.CustomerHelpDTO" id="helpReply">
		<id property="helpSeq" column="help_seq"/>
		<result property="memberSeq" column="member_seq" />	
		<result property="helpTitle" column="help_title" />	
		<result property="helpContent" column="help_content" />	
		<result property="helpDate" column="help_date" />	
		<result property="replySeq" column="reply_seq" />	
		<result property="replyTitle" column="reply_title" />	
		<result property="replyContent" column="reply_content" />	
		<result property="replyDate" column="reply_date" />	
	</resultMap>
	
	<select id="purchaseProduct" resultMap="purchase">
		SELECT * FROM purchase WHERE member_seq=#{memberSeq}
	</select>
	
	<select id="customerHelpList" resultMap="help">
		SELECT help_seq FROM help WHERE member_seq=#{memberSeq}
	</select>
	
	<select id="customerReplyList" resultMap="helpReply">
		SELECT help.help_seq, help.member_seq, help_title, help_content, help_date, reply_title, reply_content, reply_date FROM help INNER JOIN reply ON help.help_seq=#{helpSeq} = reply.help_seq=#{helpSeq} AND help.member_seq=#{memberSeq} = reply.member_seq=#{memberSeq};
	</select>
	
</mapper>











