<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.cart.CartMapper">
	<resultMap type="com.web.root.customer.dto.CartDTO" id="cart">
		<id property="cartSeq" column="cart_seq"/>
		<result property="postSeq" column="post_seq"/>
		<result property="memberSeq" column="member_seq"/>	
	</resultMap>

	<select id="cartList" resultMap="cart">
		SELECT * FROM cart WHERE member_Seq=${memberSeq}
	</select>

</mapper>


















