<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.service.ServiceMapper">

	<resultMap type="com.web.root.service.dto.ServiceDTO" id="help">
		<id property="helpSeq" column="help_seq"/>
		<result property="memberSeq" column="member_seq"/>
		<result property="helpTitle" column="help_title"/>
		<result property="helpContent" column="help_content"/>
		<result property="helpDate" column="help_date"/>
	</resultMap>
	
	
	<insert id="helpWrite">
		INSERT INTO help VALUES(help_seq.NEXTVAL, #{memberSeq}, #{helpTitle}, #{helpContent}, CURRENT_DATE)
	</insert>
	



	

</mapper>


















