<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.customer.CustomerMapper">
	<resultMap type="com.web.root.member.dto.MemberDTO" id="member">
		<result property="memberSeq" column="member_seq"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberPw" column="member_pw"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="memberName" column="member_name"/>
		<result property="memberPhone" column="member_phone"/>
		<result property="memberAddr" column="member_addr"/>
		<result property="memberGrade" column="member_grade"/>
		<result property="memberDate" column="member_date"/>
	</resultMap>
	
	<resultMap type="com.web.root.customer.dto.PurchaseDTO" id="purchase">
		<id property="purSeq" column="pur_seq"/>
		<result property="memberSeq" column="member_seq" />
		<result property="postSeq" column="post_seq" />
		<result property="purName" column="pur_name" />
		<result property="purPhone" column="pur_phone" />
		<result property="purAddr" column="pur_addr" />
		<result property="purDate" column="pur_date" />
	</resultMap>
	
	<resultMap type="com.web.root.bookmark.dto.BookmarkDTO" id="bookmark">
		<id property="markSeq" column="mark_seq"/>
		<result property="memberSeq" column="member_seq"/>
		<result property="artistSeq" column="artist_seq"/>
	</resultMap>
	
	<resultMap type="com.web.root.cart.dto.CartDTO" id="cart">
		<id property="cartSeq" column="cart_seq"/>
		<result property="postSeq" column="post_seq"/>
		<result property="memberSeq" column="member_seq"/>
	</resultMap>
	
	<resultMap type="com.web.root.service.dto.ServiceDTO" id="help">
		<result property="helpSeq" column="help_seq" />
		<result property="memberSeq" column="member_seq" />
		<result property="helpTitle" column="help_title" />
		<result property="helpContent" column="help_content" />
		<result property="helpDate" column="help_date" />
	</resultMap>
	
	<resultMap type="com.web.root.reply.dto.ReplyDTO" id="reply">
		<id property="replySeq" column="reply_seq"/>
		<result property="helpSeq" column="help_seq"/>
		<result property="memberSeq" column="member_seq"/>
		<result property="replyTitle" column="reply_title"/>
		<result property="replyContent" column="reply_content"/>
		<result property="replyDate" column="reply_date"/>
	</resultMap>
	
	<resultMap type="com.web.root.cart.dto.CartDTO" id="cart">
		<id property="cartSeq" column="cart_seq"/>
		<result property=""/>
	</resultMap>
	
	<select id="memberInfo" resultMap="member">
		SELECT * FROM member WHERE member_seq=#{memberSeq}
	</select>

	<update id="memberUpdate">
		UPDATE member SET member_pw=#{memberPw},member_nickname=#{memberNickname},member_name=#{memberName},member_phone=#{memberPhone},member_addr=#{memberAddr} WHERE member_email=#{memberEmail}
	</update>
		
	<delete id="memberDelete">
		DELETE member WHERE member_seq=#{memberSeq} 
	</delete>
	
	<select id="cartList" resultMap="cart">
        SELECT * FROM cart WHERE member_Seq=${memberSeq}
   	</select>
   
   	<delete id="cartDelect">
   		DELETE FROM cart WHERE mark_seq=#{markSeq}
   	</delete>
	
	<select id="purchaseProduct" resultMap="purchase">
		SELECT * FROM purchase WHERE member_seq=#{memberSeq}
	</select>
	
	<select id="bookmarkArtistList" resultMap="bookmark">
		SELECT * FROM bookmark WHERE member_seq=#{memberSeq}
	</select>
	
	<select id="customerHelpList" resultMap="help">
		SELECT * FROM help WHERE member_seq=#{memberSeq}
	</select>
	
	<select id="customerReply" resultMap="reply">
		SELECT * FROM reply WHERE member_seq=#{memberSeq} AND help_seq=#{helpSeq} AND reply_seq=#{replySeq}
	</select>
	
</mapper>