<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.admin.AdminMapper">
	<resultMap type="com.web.root.member.dto.MemberDTO" id="member">
		<id property="memberSeq" column="member_seq"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberPw" column="member_pw"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="memberName" column="member_name"/>
		<result property="memberPhone" column="member_phone"/>
		<result property="memberAddr" column="member_addr"/>
		<result property="memberGrade" column="member_grade"/>
		<result property="memberDate" column="member_date"/>
	</resultMap>
	
	<resultMap type="com.web.root.artist.dto.ArtistDTO" id="artist">
		<id property="artistSeq" column="artist_seq"/>
		<result property="artistName" column="artist_name"/>
		<result property="artistProfile" column="artist_profile"/>
		<result property="artistSns" column="artist_sns"/>
		<result property="artistImage" column="artist_image"/>
		<result property="artistHit" column="artist_hit"/>
	</resultMap>
	
	<select id="adminCustomerList" resultMap="member">
		SELECT member_seq,member_email,member_nickname,member_name,member_phone,member_addr,member_grade,member_date FROM member
	</select>
	
	<insert id="adminArtistAdd">
		INSERT INTO artist VALUES(artist_seq.nextval,#{artistName},#{artistProfile},#{artistSns},#{artistImage},0 ,#{exhibitionSeq})
	</insert>
	
	<select id="adminArtistList" resultMap="artist">
		SELECT artist_seq,artist_name,artist_profile,artist_sns,artist_image,artist_hit FROM artist
	</select>
	
	<update id="adminPostAuction">
		UPDATE post SET post_auction=#{postAuction} WHERE post_seq=#{postSeq}
	</update>

</mapper>

