<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.auction.AuctionMapper">
	<resultMap type="com.web.root.auction.dto.AuctionDTO" id="auction">
		<id property="aucSeq" column="auc_seq"/>
		<result property="memberSeq" column="member_seq"/>
		<result property="artistSeq" column="artist_seq"/>
		<result property="postSeq" column="post_seq"/>
		<result property="aucNickName" column="auc_nickname"/>
		<result property="aucPrice" column="auc_price"/>
	</resultMap>
			
	<select id="auctionView" resultMap="auction">
		SELECT ROWNUM, B.* FROM(SELECT auc_nickname, auc_price FROM auction ORDER BY auc_price DESC) B WHERE ROWNUM BETWEEN 1 AND 3
	</select>

	<insert id="auctionBid">
		INSERT INTO auction VALUES(auc_seq.NEXTVAL, #{memberSeq}, #{artistSeq}, #{postSeq}, #{aucNickname}, #{aucPrice})
	</insert>
	
	<delete id="deleteAuction">
		DELETE FROM auction WHERE auc_seq=#{aucSeq}
	</delete>

	<select id="getAuction" resultMap="auction">
		SELECT * FROM auction WHERE auc_seq=#{aucSeq}
	</select>
	
	<select id="getAucPrice" resultMap="auction">
		SELECT member_seq, post_seq, auc_price
		FROM (
  		SELECT member_seq, post_seq, auc_price,
    	ROW_NUMBER() OVER (ORDER BY post_seq ASC, auc_price DESC) AS rn
 		FROM auction
		) subquery
		WHERE rn = 1
	</select>
	
	<select id="getSuccessfulBid" resultMap="auction">
		SELECT member_seq, post_seq, auc_price
		FROM (
  		SELECT member_seq, post_seq, auc_price,
    	ROW_NUMBER() OVER (ORDER BY post_seq ASC, auc_price DESC) AS rn
 		FROM auction
		) subquery
		WHERE rn = 1
	</select>
	
	<delete id="deleteParticipant">	
		DELETE FROM auction WHERE post_seq = (SELECT MIN(post_seq)FROM auction)
	</delete>

	
</mapper>

