<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.post.PostMapper">

	<resultMap type="com.web.root.post.dto.PostDTO" id="post">
		<id property="postSeq" column="post_seq"/>
		<result property="genreSeq" column="genre_seq"/>
		<result property="artistSeq" column="artist_seq"/>	
		<result property="postTitle" column="post_title"/>	
		<result property="postSummary" column="post_summary"/>	
		<result property="postContent" column="post_content"/>	
		<result property="postImageName" column="post_image_name"/>	
		<result property="postPrice" column="post_price"/>	
		<result property="postAuction" column="post_auction"/>	
		<result property="postExhibition" column="post_exhibition"/>	
		<result property="postDate" column="post_date"/>	
	</resultMap>
	
	
	<resultMap type="com.web.root.post.dto.PostAuctionDTO" id="postauction">
		<id property="postSeq" column="post_seq"/>
		<result property="genreSeq" column="genre_seq"/>
		<result property="artistSeq" column="artist_seq"/>	
		<result property="postTitle" column="post_title"/>	
		<result property="postSummary" column="post_summary"/>	
		<result property="postContent" column="post_content"/>	
		<result property="postImageName" column="post_image_name"/>	
		<result property="postPrice" column="post_price"/>	
		<result property="postAuction" column="post_auction"/>	
		<result property="postExhibition" column="post_exhibition"/>	
		<result property="postDate" column="post_date"/>	
		<result property="aucSeq" column="auc_seq"/>
		<result property="memberSeq" column="member_seq"/>
		<result property="artistSeq" column="artist_seq"/>
		<result property="postSeq" column="post_seq"/>
		<result property="aucNickName" column="auc_nick_name"/>
		<result property="aucPrice" column="auc_price"/>
	</resultMap>
	
	<resultMap type="com.web.root.post.dto.PostExhibitionDTO" id="postexhibition">
		<id property="postSeq" column="post_seq"/>
		<result property="genreSeq" column="genre_seq"/>
		<result property="artistSeq" column="artist_seq"/>	
		<result property="postTitle" column="post_title"/>	
		<result property="postSummary" column="post_summary"/>	
		<result property="postImageName" column="post_image_name"/>	
		<result property="postPrice" column="post_price"/>	
		<result property="postAuction" column="post_auction"/>	
		<result property="postExhibition" column="post_exhibition"/>	
		<result property="postDate" column="post_date"/>
		<result property="exhibitionSeq" column="exhibition_seq"/>
		<result property="exhibitionName" column="exhibition_name"/>
		<result property="exhibitionDate" column="exhibition_date"/>	
		<result property="exhibitionExplain" column="exhibition_explain"/>	
		<result property="exhibitionBanner" column="exhibition_banner"/>	
	</resultMap>
	
	<select id="postList" resultMap="post">
		SELECT * FROM post ORDER BY post_seq DESC
	</select>
	
	<select id="postView" resultMap="post">
		SELECT * FROM post WHERE post_seq=#{postSeq}
	</select>
	
	<select id="postExhibition1" resultMap="postexhibition">
		SELECT * FROM(SELECT * FROM post,exhibition) WHERE post_exhibition=#{postExhibition}
	</select>
	
	<select id="viewExhibition" resultMap="post">
		SELECT * FROM post WHERE post_exhibition=#{postExhibition}
	</select>
	
	<select id="postAuction" resultMap="postauction">
		SELECT p.*, a.auc_seq, a.member_seq, a.auc_nickname, a.auc_price FROM post p LEFT JOIN auction a ON p.post_seq = a.post_seq AND p.artist_seq = a.artist_seq
	</select>
	
	<select id="viewAuction" resultMap="post">
		SELECT * FROM post WHERE post_auction=#{postAuction}
	</select>
	
	<insert id="postWrite">
		INSERT INTO post VALUES(post_seq.NEXTVAL, #{genreSeq}, #{artistSeq}, #{postTitle}, #{postSummary}, #{postContent}, #{postImageName}, #{postPrice}, CURRENT_DATE)
	</insert>
	
	<insert id="postCart">
		INSERT INTO cart VALUES(cart_seq.NEXTVAL, #{memberSeq}, #{postSeq})
	</insert>
	
	<delete id="postDelete">
		DELETE post WHERE post_seq=#{postSeq} 
	</delete>
	
	<update id="postUpdate">
		UPDATE post SET post_title=#{postTitle}, post_summary=#{postSummary}, post_content=#{postContent}, post_image_name=#{postImageName}, post_price=#{postPrice}, CURRENT_DATE
	</update>
	

</mapper>


















