<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.exhibition.ExhibitionMapper">

	<resultMap type="com.web.root.exhibition.dto.ExhibitionDTO" id="exhibition">
		<id property="exhibitionSeq" column="exhibition_seq"/>
		<result property="exhibitionName" column="exhibition_name"/>
		<result property="exhibitionDate" column="exhibition_date"/>	
		<result property="exhibitionExplain" column="exhibition_explain"/>	
		<result property="exhibitionBanner" column="exhibition_banner"/>	
	</resultMap>

	<select id="GenreList" resultMap="genre">
		SELECT * FROM genre WHERE genre_seq=#{genreSeq}
	</select>

	

</mapper>


















